.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: right;
    max-width: 30px;
}

.header__lang-link:nth-of-type(2) {
    text-decoration: none;
}


@media screen and (max-width:320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        max-width: 22px;
    }
}

@media screen and (max-width:270px) {
    .header__lang-link {
        font-size: 12px;
        line-height: 12px;
    }
}