.intro__list {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 33px 442px 92px 148px;
    text-align: start;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width:1024px) {
    .intro__list {
        margin-left: 48px;
        margin-right: 286px;
    }
}




@media screen and (max-width:768px) {
    .intro__list {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 88px;
    }
}


@media screen and (max-width:320px) {
    .intro__list {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
        width: 90%;
    }
}