.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    margin: 0 auto;
    align-self: center;
    max-width: 360px;
}


@media screen and (max-width:320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}