.lead__image {
    margin: 64px 148px 8px;
    max-width: 984px;

}

@media screen and (max-width:1024px) {
    .lead__image {
        margin-top: 56px;
        margin-right: 48px;
        margin-left: 48px;
        max-width: 928px;
    }
}


@media screen and (max-width:768px) {
    .lead__image {
        width: 100%;
        max-width: 768px;
        margin-left: 0;
        margin-right: 0;
    }
}


@media screen and (max-width:320px) {
    .lead__image {
        max-width: 320px;
        margin-top: 40px;
    }
}