.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;

}

@media screen and (min-width:425px) and (max-width:768px) {
    .place__url-heading {
        font-size: 9px;
        line-height: 9px;
    }
}

@media screen and (max-width:424px) {
    .place__link {
        margin: 0 5% 5%;
    }
}