.cover__overlay {
    background-color: #2A2C2F;
    display: flex;
    position: absolute;
    direction: column;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: .4;

}

.cover__overlay:hover {
    opacity: .8;
}