.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 245px 312px 32px;
    white-space: pre-line;
    text-align: center;
    box-sizing: border-box;

}

@media screen and (max-width:1024px) {
    .cover__title {
        margin-top: 195px;
        margin-left: 232px;
        margin-right: 232px;
    }
}

@media screen and (max-width:860px) {
    .cover__title {
        margin-top: 115px;
        margin-left: 104px;
        margin-right: 104px;

    }
}

@media screen and (max-width:520px) {
    .cover__title {
        margin-top: 33px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}