.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 40px auto 40px 148px;
    text-align: start;
}

@media screen and (max-width:1024px) {
    .intro__title {
        margin-left: 48px;
    }
}


@media screen and (max-width:768px) {
    .intro__title {
        margin-left: 24px;
        margin-top: 88px;
    }
}


@media screen and (max-width:424px) {
    .intro__title {
        margin-left: 16px;
        margin-top: 86px;
        font-size: 32px;
        line-height: 35px;
    }
}