.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    width: 65%;
    margin: 55px 0 0 10%;
    padding: 0 auto;
    text-align: start;
}

@media screen and (min-width:425px) and (max-width:768px) {
    .intro__title {
        font-size: 37px;
        line-height: 42px;
        width: 90%;
        margin: 55px 0 0 5%;
    }
}


@media screen and (max-width:424px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        width: 90%;
        margin: 55px 0 0 5%;
    }
}