.intro__title {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0 auto 40px 148px;
    text-align: start;
}

@media screen and (max-width:1024px) {
    .intro__title {
        margin-left: 48px;
    }
}


@media screen and (max-width:768px) {
    .intro__title {
        margin-left: 24px;

    }
}


@media screen and (max-width:424px) {
    .intro__title {
        margin-left: 16px;
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}